# Data Science & Machine Learning Internship Assignment I

1. Write a python code to create the following table of data using dataframe and count the
number of rows and colums.

10 40 70 100
20 50 80 110
30 60 90 120

In [1]:
import pandas as pd
data = {
    'col1':[10,20,30],'col2':[40,50,60],'col3':[70,80,90],'col4':[100,110,120]
}
df = pd.DataFrame(data)
print(df)

   col1  col2  col3  col4
0    10    40    70   100
1    20    50    80   110
2    30    60    90   120

In [3]:
print("No. of rows : ",df.shape[0])
print("No. of columns : ",df.shape[1])

No. of rows :  3
No. of columns :  4

2. Write a python program to read the given data.csv file(file is attached in mail) and
perform the following
a. Print the dataset.
b. Print only the first 5 rows in the data.
c. Remove the NULL values in the data.
d. Analyze the data and find out count, Mean, Std, Min, Max, 25 th percentile, 50 th
percentile, 75 th percentile.

In [5]:
import pandas as pd
df = pd.read_csv('data.csv')

In [6]:
# a) Print the dataset.
print(df)

       Price  Area                     Location  No. of Bedrooms  Gymnasium  \
0    6968000  1340                     Nizampet              2.0        1.0
1   29000000  3498                  Hitech City              4.0        1.0
2    6590000  1318                    Manikonda              2.0        1.0
3    5739000  1295                        Alwal              3.0        0.0
4    5679000  1145                   Kukatpally              2.0        0.0
5    6099000  1230                     Nizampet              2.0        0.0
6    7000000  1350                    Manikonda              2.0        0.0
7    4198000  1400                   Gachibowli              3.0        1.0
8    9900000  2240                     Tellapur              NaN        NaN
9    9800000  1520                   Gachibowli              2.0        0.0
10   8903000  1535                      Kokapet              3.0        1.0
11   6300000  1150                  Hyder Nagar              2.0        0.0
12   6300000  1285                  Mehdipatnam              2.0        0.0
13   9000000  1897                     Tellapur              3.0        1.0
14  11100000  1725                     Narsingi              3.0        1.0
15  11500000   XYZ  Khajaguda Nanakramguda Road              3.0        NaN
16  10900000  1592                   Kukatpally              3.0        1.0
17   8625000  1150                     Madhapur              2.0        0.0
18   9900000  2240                     Tellapur              3.0        1.0

    SwimmingPool  JoggingTrack  RainWaterHarvesting  IndoorGames
0            1.0           1.0                  1.0          1.0
1            1.0           1.0                  1.0          1.0
2            0.0           0.0                  0.0          1.0
3            0.0           0.0                  0.0          0.0
4            0.0           0.0                  0.0          0.0
5            0.0           0.0                  0.0          0.0
6            0.0           0.0                  0.0          0.0
7            1.0           0.0                  0.0          0.0
8            NaN           0.0                  0.0          1.0
9            0.0           0.0                  0.0          0.0
10           1.0           1.0                  1.0          1.0
11           0.0           0.0                  0.0          0.0
12           0.0           NaN                  NaN          NaN
13           1.0           1.0                  1.0          1.0
14           1.0           1.0                  0.0          1.0
15           NaN           0.0                  0.0          0.0
16           1.0           0.0                  0.0          0.0
17           0.0           0.0                  0.0          0.0
18           1.0           0.0                  0.0          1.0

In [7]:
# b) Print only the first 5 rows in the data.
print(df.head())

      Price  Area     Location  No. of Bedrooms  Gymnasium  SwimmingPool  \
0   6968000  1340     Nizampet              2.0        1.0           1.0
1  29000000  3498  Hitech City              4.0        1.0           1.0
2   6590000  1318    Manikonda              2.0        1.0           0.0
3   5739000  1295        Alwal              3.0        0.0           0.0
4   5679000  1145   Kukatpally              2.0        0.0           0.0

   JoggingTrack  RainWaterHarvesting  IndoorGames
0           1.0                  1.0          1.0
1           1.0                  1.0          1.0
2           0.0                  0.0          1.0
3           0.0                  0.0          0.0
4           0.0                  0.0          0.0

In [8]:
# c) Remove the NULL values in the data.
df.dropna(axis=0,inplace=True)
print(df)

       Price  Area     Location  No. of Bedrooms  Gymnasium  SwimmingPool  \
0    6968000  1340     Nizampet              2.0        1.0           1.0
1   29000000  3498  Hitech City              4.0        1.0           1.0
2    6590000  1318    Manikonda              2.0        1.0           0.0
3    5739000  1295        Alwal              3.0        0.0           0.0
4    5679000  1145   Kukatpally              2.0        0.0           0.0
5    6099000  1230     Nizampet              2.0        0.0           0.0
6    7000000  1350    Manikonda              2.0        0.0           0.0
7    4198000  1400   Gachibowli              3.0        1.0           1.0
9    9800000  1520   Gachibowli              2.0        0.0           0.0
10   8903000  1535      Kokapet              3.0        1.0           1.0
11   6300000  1150  Hyder Nagar              2.0        0.0           0.0
13   9000000  1897     Tellapur              3.0        1.0           1.0
14  11100000  1725     Narsingi              3.0        1.0           1.0
16  10900000  1592   Kukatpally              3.0        1.0           1.0
17   8625000  1150     Madhapur              2.0        0.0           0.0
18   9900000  2240     Tellapur              3.0        1.0           1.0

    JoggingTrack  RainWaterHarvesting  IndoorGames
0            1.0                  1.0          1.0
1            1.0                  1.0          1.0
2            0.0                  0.0          1.0
3            0.0                  0.0          0.0
4            0.0                  0.0          0.0
5            0.0                  0.0          0.0
6            0.0                  0.0          0.0
7            0.0                  0.0          0.0
9            0.0                  0.0          0.0
10           1.0                  1.0          1.0
11           0.0                  0.0          0.0
13           1.0                  1.0          1.0
14           1.0                  0.0          1.0
16           0.0                  0.0          0.0
17           0.0                  0.0          0.0
18           0.0                  0.0          1.0

In [10]:
# d) Analyze the data and find out count, Mean, Std, Min, Max, 25 th percentile, 50 th percentile, 75 th percentile.
df.info()
print()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 18
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                16 non-null     int64
 1   Area                 16 non-null     object
 2   Location             16 non-null     object
 3   No. of Bedrooms      16 non-null     float64
 4   Gymnasium            16 non-null     float64
 5   SwimmingPool         16 non-null     float64
 6   JoggingTrack         16 non-null     float64
 7   RainWaterHarvesting  16 non-null     float64
 8   IndoorGames          16 non-null     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 1.2+ KB

,Price,No. of Bedrooms,Gymnasium,SwimmingPool,JoggingTrack,RainWaterHarvesting,IndoorGames
count,1.600000e+01,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,9.112562e+06,2.562500,0.562500,0.500000,0.312500,0.250000,0.437500
std,5.679100e+06,0.629153,0.512348,0.516398,0.478714,0.447214,0.512348
min,4.198000e+06,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.249750e+06,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.812500e+06,2.500000,1.000000,0.500000,0.000000,0.000000,0.000000
75%,9.825000e+06,3.000000,1.000000,1.000000,1.000000,0.250000,1.000000
max,2.900000e+07,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000